ISF/Sport.Producer/Web References/SportServices/ProducerService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://www.mir.co.il/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://www.mir.co.il/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://www.mir.co.il/">
      <s:element name="GetGameBoard">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="gameBoardId" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetGameBoardResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetGameBoardResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SetGameBoard">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="gameBoardId" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="range" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="data" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SetGameBoardResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="SetGameBoardResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetPhasePattern">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="phasePatternId" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetPhasePatternResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetPhasePatternResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SetPhasePattern">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="phasePatternId" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="range" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="data" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SetPhasePatternResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="SetPhasePatternResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="GetGameBoardSoapIn">
    <wsdl:part name="parameters" element="tns:GetGameBoard" />
  </wsdl:message>
  <wsdl:message name="GetGameBoardSoapOut">
    <wsdl:part name="parameters" element="tns:GetGameBoardResponse" />
  </wsdl:message>
  <wsdl:message name="SetGameBoardSoapIn">
    <wsdl:part name="parameters" element="tns:SetGameBoard" />
  </wsdl:message>
  <wsdl:message name="SetGameBoardSoapOut">
    <wsdl:part name="parameters" element="tns:SetGameBoardResponse" />
  </wsdl:message>
  <wsdl:message name="GetPhasePatternSoapIn">
    <wsdl:part name="parameters" element="tns:GetPhasePattern" />
  </wsdl:message>
  <wsdl:message name="GetPhasePatternSoapOut">
    <wsdl:part name="parameters" element="tns:GetPhasePatternResponse" />
  </wsdl:message>
  <wsdl:message name="SetPhasePatternSoapIn">
    <wsdl:part name="parameters" element="tns:SetPhasePattern" />
  </wsdl:message>
  <wsdl:message name="SetPhasePatternSoapOut">
    <wsdl:part name="parameters" element="tns:SetPhasePatternResponse" />
  </wsdl:message>
  <wsdl:portType name="ProducerServiceSoap">
    <wsdl:operation name="GetGameBoard">
      <wsdl:input message="tns:GetGameBoardSoapIn" />
      <wsdl:output message="tns:GetGameBoardSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SetGameBoard">
      <wsdl:input message="tns:SetGameBoardSoapIn" />
      <wsdl:output message="tns:SetGameBoardSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetPhasePattern">
      <wsdl:input message="tns:GetPhasePatternSoapIn" />
      <wsdl:output message="tns:GetPhasePatternSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SetPhasePattern">
      <wsdl:input message="tns:SetPhasePatternSoapIn" />
      <wsdl:output message="tns:SetPhasePatternSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ProducerServiceSoap" type="tns:ProducerServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetGameBoard">
      <soap:operation soapAction="http://www.mir.co.il/GetGameBoard" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetGameBoard">
      <soap:operation soapAction="http://www.mir.co.il/SetGameBoard" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPhasePattern">
      <soap:operation soapAction="http://www.mir.co.il/GetPhasePattern" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetPhasePattern">
      <soap:operation soapAction="http://www.mir.co.il/SetPhasePattern" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ProducerServiceSoap12" type="tns:ProducerServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetGameBoard">
      <soap12:operation soapAction="http://www.mir.co.il/GetGameBoard" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetGameBoard">
      <soap12:operation soapAction="http://www.mir.co.il/SetGameBoard" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPhasePattern">
      <soap12:operation soapAction="http://www.mir.co.il/GetPhasePattern" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetPhasePattern">
      <soap12:operation soapAction="http://www.mir.co.il/SetPhasePattern" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ProducerService">
    <wsdl:port name="ProducerServiceSoap" binding="tns:ProducerServiceSoap">
      <soap:address location="https://schoolsport.org.il:8080/ISF/SportServices/ProducerService.asmx" />
    </wsdl:port>
    <wsdl:port name="ProducerServiceSoap12" binding="tns:ProducerServiceSoap12">
      <soap12:address location="https://schoolsport.org.il:8080/ISF/SportServices/ProducerService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>