ISF/Sportsfield/Web References/SessionServices/SessionService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:s0="http://tempuri.org/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" targetNamespace="http://tempuri.org/" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="Login">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="username" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="season" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="LoginResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="LoginResult" type="s0:UserData" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="UserData">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="Id" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="Username" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="UserFullName" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="UserType" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="UserPermissions" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="UserRegion" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="UserSchool" type="s:int" />
        </s:sequence>
      </s:complexType>
      <s:element name="AddUserAction">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="action" type="s0:Action" />
            <s:element minOccurs="0" maxOccurs="1" name="description" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="version" type="s:double" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:simpleType name="Action">
        <s:restriction base="s:string">
          <s:enumeration value="Login_Client" />
          <s:enumeration value="Login_Website" />
          <s:enumeration value="Login_Field" />
          <s:enumeration value="TableView_Opened" />
          <s:enumeration value="Update_Downloaded" />
          <s:enumeration value="Register_Page_Load" />
          <s:enumeration value="Field_Export" />
          <s:enumeration value="Field_Import" />
        </s:restriction>
      </s:simpleType>
      <s:element name="AddUserActionResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="AddUserActionResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AddUserAction_2">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="userid" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="action" type="s0:Action" />
            <s:element minOccurs="0" maxOccurs="1" name="description" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="version" type="s:double" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AddUserAction_2Response">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="AddUserAction_2Result" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="KeepAlive">
        <s:complexType />
      </s:element>
      <s:element name="KeepAliveResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="KeepAliveResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="VerifyUser">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="username" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="VerifyUserResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="VerifyUserResult" type="s0:UserData" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetUserData">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="username" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetUserDataResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="GetUserDataResult" type="s0:UserData" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetUserPassword">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="username" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="askerLogin" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="askerPassword" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetUserPasswordResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetUserPasswordResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ChangeUserPassword">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="username" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="oldPassword" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="newPassword" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ChangeUserPasswordResponse">
        <s:complexType />
      </s:element>
      <s:element name="GetLatestVersion">
        <s:complexType />
      </s:element>
      <s:element name="GetLatestVersionResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="GetLatestVersionResult" type="s0:VersionInfo" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="VersionInfo">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="VersionNumber" type="s:double" />
          <s:element minOccurs="0" maxOccurs="1" name="VersionName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="VersionDetails" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="GetLatestFieldVersion">
        <s:complexType />
      </s:element>
      <s:element name="GetLatestFieldVersionResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="GetLatestFieldVersionResult" type="s0:VersionInfo" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetCurrentSeason">
        <s:complexType />
      </s:element>
      <s:element name="GetCurrentSeasonResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="GetCurrentSeasonResult" type="s0:SeasonData" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="SeasonData">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="Season" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="Name" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="GetStudentPicture">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Id_Number" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetStudentPictureResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetStudentPictureResult" type="s:base64Binary" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </types>
  <message name="LoginSoapIn">
    <part name="parameters" element="s0:Login" />
  </message>
  <message name="LoginSoapOut">
    <part name="parameters" element="s0:LoginResponse" />
  </message>
  <message name="AddUserActionSoapIn">
    <part name="parameters" element="s0:AddUserAction" />
  </message>
  <message name="AddUserActionSoapOut">
    <part name="parameters" element="s0:AddUserActionResponse" />
  </message>
  <message name="AddUserAction_2SoapIn">
    <part name="parameters" element="s0:AddUserAction_2" />
  </message>
  <message name="AddUserAction_2SoapOut">
    <part name="parameters" element="s0:AddUserAction_2Response" />
  </message>
  <message name="KeepAliveSoapIn">
    <part name="parameters" element="s0:KeepAlive" />
  </message>
  <message name="KeepAliveSoapOut">
    <part name="parameters" element="s0:KeepAliveResponse" />
  </message>
  <message name="VerifyUserSoapIn">
    <part name="parameters" element="s0:VerifyUser" />
  </message>
  <message name="VerifyUserSoapOut">
    <part name="parameters" element="s0:VerifyUserResponse" />
  </message>
  <message name="GetUserDataSoapIn">
    <part name="parameters" element="s0:GetUserData" />
  </message>
  <message name="GetUserDataSoapOut">
    <part name="parameters" element="s0:GetUserDataResponse" />
  </message>
  <message name="GetUserPasswordSoapIn">
    <part name="parameters" element="s0:GetUserPassword" />
  </message>
  <message name="GetUserPasswordSoapOut">
    <part name="parameters" element="s0:GetUserPasswordResponse" />
  </message>
  <message name="ChangeUserPasswordSoapIn">
    <part name="parameters" element="s0:ChangeUserPassword" />
  </message>
  <message name="ChangeUserPasswordSoapOut">
    <part name="parameters" element="s0:ChangeUserPasswordResponse" />
  </message>
  <message name="GetLatestVersionSoapIn">
    <part name="parameters" element="s0:GetLatestVersion" />
  </message>
  <message name="GetLatestVersionSoapOut">
    <part name="parameters" element="s0:GetLatestVersionResponse" />
  </message>
  <message name="GetLatestFieldVersionSoapIn">
    <part name="parameters" element="s0:GetLatestFieldVersion" />
  </message>
  <message name="GetLatestFieldVersionSoapOut">
    <part name="parameters" element="s0:GetLatestFieldVersionResponse" />
  </message>
  <message name="GetCurrentSeasonSoapIn">
    <part name="parameters" element="s0:GetCurrentSeason" />
  </message>
  <message name="GetCurrentSeasonSoapOut">
    <part name="parameters" element="s0:GetCurrentSeasonResponse" />
  </message>
  <message name="GetStudentPictureSoapIn">
    <part name="parameters" element="s0:GetStudentPicture" />
  </message>
  <message name="GetStudentPictureSoapOut">
    <part name="parameters" element="s0:GetStudentPictureResponse" />
  </message>
  <portType name="SessionServiceSoap">
    <operation name="Login">
      <input message="s0:LoginSoapIn" />
      <output message="s0:LoginSoapOut" />
    </operation>
    <operation name="AddUserAction">
      <input message="s0:AddUserActionSoapIn" />
      <output message="s0:AddUserActionSoapOut" />
    </operation>
    <operation name="AddUserAction_2">
      <input message="s0:AddUserAction_2SoapIn" />
      <output message="s0:AddUserAction_2SoapOut" />
    </operation>
    <operation name="KeepAlive">
      <input message="s0:KeepAliveSoapIn" />
      <output message="s0:KeepAliveSoapOut" />
    </operation>
    <operation name="VerifyUser">
      <input message="s0:VerifyUserSoapIn" />
      <output message="s0:VerifyUserSoapOut" />
    </operation>
    <operation name="GetUserData">
      <input message="s0:GetUserDataSoapIn" />
      <output message="s0:GetUserDataSoapOut" />
    </operation>
    <operation name="GetUserPassword">
      <input message="s0:GetUserPasswordSoapIn" />
      <output message="s0:GetUserPasswordSoapOut" />
    </operation>
    <operation name="ChangeUserPassword">
      <input message="s0:ChangeUserPasswordSoapIn" />
      <output message="s0:ChangeUserPasswordSoapOut" />
    </operation>
    <operation name="GetLatestVersion">
      <input message="s0:GetLatestVersionSoapIn" />
      <output message="s0:GetLatestVersionSoapOut" />
    </operation>
    <operation name="GetLatestFieldVersion">
      <input message="s0:GetLatestFieldVersionSoapIn" />
      <output message="s0:GetLatestFieldVersionSoapOut" />
    </operation>
    <operation name="GetCurrentSeason">
      <input message="s0:GetCurrentSeasonSoapIn" />
      <output message="s0:GetCurrentSeasonSoapOut" />
    </operation>
    <operation name="GetStudentPicture">
      <input message="s0:GetStudentPictureSoapIn" />
      <output message="s0:GetStudentPictureSoapOut" />
    </operation>
  </portType>
  <binding name="SessionServiceSoap" type="s0:SessionServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document" />
    <operation name="Login">
      <soap:operation soapAction="http://tempuri.org/Login" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="AddUserAction">
      <soap:operation soapAction="http://tempuri.org/AddUserAction" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="AddUserAction_2">
      <soap:operation soapAction="http://tempuri.org/AddUserAction_2" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="KeepAlive">
      <soap:operation soapAction="http://tempuri.org/KeepAlive" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="VerifyUser">
      <soap:operation soapAction="http://tempuri.org/VerifyUser" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="GetUserData">
      <soap:operation soapAction="http://tempuri.org/GetUserData" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="GetUserPassword">
      <soap:operation soapAction="http://tempuri.org/GetUserPassword" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="ChangeUserPassword">
      <soap:operation soapAction="http://tempuri.org/ChangeUserPassword" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="GetLatestVersion">
      <soap:operation soapAction="http://tempuri.org/GetLatestVersion" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="GetLatestFieldVersion">
      <soap:operation soapAction="http://tempuri.org/GetLatestFieldVersion" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="GetCurrentSeason">
      <soap:operation soapAction="http://tempuri.org/GetCurrentSeason" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="GetStudentPicture">
      <soap:operation soapAction="http://tempuri.org/GetStudentPicture" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
  </binding>
  <service name="SessionService">
    <port name="SessionServiceSoap" binding="s0:SessionServiceSoap">
      <soap:address location="http://localhost/ISF/SportServices/SessionService.asmx" />
    </port>
  </service>
</definitions>